<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Pizza anpassen</mat-card-title>
    <mat-card-subtitle
      >Wählen Sie zusätzliche Beläge für Ihre Pizza</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <h4>{{ data.pizza.name }}</h4>
    <p class="description-text">
      {{ data.pizza.description }}
    </p>
    <mat-chip-set>
      @for (ingredient of data.pizza.baseIngredients ?? []; track ingredient) {
      <app-custom-chip [label]="ingredient"></app-custom-chip>
      }
    </mat-chip-set>
    <p class="base-price">
      Grundpreis: {{ data.pizza.price | currency : "CHF " }}
    </p>
    <mat-divider></mat-divider>
    <form class="form-container" [formGroup]="form">
      <h5>Zusätzliche Beläge:</h5>
      <div class="toppings-container">
        @for (topping of extraToppings(); track topping.id) {
        <mat-card appearance="outlined">
          <mat-checkbox>{{ topping.name }}</mat-checkbox>
          <span>+{{ topping.price | currency : "CHF " }}</span>
        </mat-card>
        }
      </div>
    </form>
    <mat-divider></mat-divider>
    <div class="price-container">
      <span>Gesamtpreis:</span>
      <span>CHF 21.50</span>
    </div>
  </mat-card-content>
  <mat-card-actions class="button-container">
    <button mat-flat-button class="cancel-btn">Abbrechen</button>
    <button mat-flat-button class="submit-btn">In Warenkorb</button>
  </mat-card-actions>
</mat-card>
