<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ data.pizza.name }} anpassen</mat-card-title>
    <mat-card-subtitle
      >Wählen Sie zusätzliche Beläge für Ihre Pizza</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <h4>{{ data.pizza.name }}</h4>
    <p>
      {{ data.pizza.description }}
    </p>
    @for (ingredient of data.pizza.baseIngredients ?? []; track ingredient) {
    <app-custom-chip [label]="ingredient"></app-custom-chip>
    }
    <p>Grundpreis: {{ data.pizza.price | currency : "CHF " }}</p>
    <mat-divider></mat-divider>
    <form [formGroup]="form">
      <h5>Zusätzliche Beläge:</h5>
      <div>
        @for (topping of extraToppings(); track topping.id) {
        <mat-card appearance="outlined">
          <div>
            <p>
              <mat-checkbox>{{ topping.name }}</mat-checkbox>
            </p>
          </div>
        </mat-card>
        }
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
