.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 24px auto;
  background-color: white;
  border-radius: 24px;
  font-family: "Roboto", sans-serif;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
